- name: Create deploy user
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /bin/bash

- name: Set home owner
  ansible.builtin.file:
    path: "/home/{{ user }}"
    owner: "{{ user }}"
    group: "{{ user }}"
    state: directory
    recurse: true
    mode: "0755"

- name: Add environment variables to bash profile
  ansible.builtin.lineinfile:
    dest: "/home/{{ user }}/.bash_profile"
    create: true
    mode: "0644"
    regexp: "{{ item.key }}"
    line: "export {{ item.key }}={{ item.value }}"
  loop: "{{ environment_variables | dict2items }}"
  when: environment_variables is defined

- name: Add authorized key
  ansible.posix.authorized_key:
    user: "{{ user }}"
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
