---
- name: Disable SSH password authentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    backrefs: false
  notify: restart sshd
  register: ssh_password_auth_result

- name: Ensure PermitRootLogin is set to prohibit-password (key-only)
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin prohibit-password'
  notify: restart sshd
  register: ssh_permit_root_result

- name: Set SSH port
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Port'
    line: 'Port {{ ssh_port }}'
  notify: restart sshd
  register: ssh_port_result

- name: Flush handlers to restart SSH service if config changed
  ansible.builtin.meta: flush_handlers
  when: >
    ssh_password_auth_result.changed or
    ssh_permit_root_result.changed or
    ssh_port_result.changed
