name: ansible-lint
on:
  workflow_dispatch:
  pull_request:
    branches: ["main", "stable", "release/v*"]
  push:
    branches: ["main", "stable", "release/v*"]
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Ansible
        run: |
          pip install ansible ansible-lint
      - name: Install Ansible collections
        run: |
          ansible-galaxy collection install -r requirements.yml
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
