---
name: CI
on:
  push:
    branches:
      - main
      - stable
      - release/v*
  pull_request:
    branches:
      - main
      - stable
      - release/v*
jobs:
  build:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Ansible
        run: |
          pip install ansible ansible-lint
      - name: Install Ansible collections
        run: |
          ansible-galaxy collection install -r requirements.yml
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main

  test:
    name: Molecule Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: |
          pip install ansible molecule "molecule-plugins[docker]"

      - name: Install Ansible collections
        run: |
          ansible-galaxy collection install -r requirements.yml

      - name: Install roles
        run: |
          ansible-galaxy role install -r requirements.yml

      - name: Test install role
        run: |
          cd roles/install
          molecule test

      - name: Test b216_backend role
        run: |
          cd roles/b216_backend
          molecule test

