---
name: CI
on:
  push:
    branches:
      - main
      - stable
      - release/v*
  pull_request:
    branches:
      - main
      - stable
      - release/v*
jobs:
  test:
    name: Molecule Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Ansible
        run: |
          pip install ansible molecule "molecule-plugins[docker]" ansible-lint

      - name: Install Ansible collections
        run: |
          ansible-galaxy collection install -r requirements.yml

      - name: Run ansible-lint
        run: |
          ansible-lint .

      - name: Install roles
        run: |
          ansible-galaxy role install -r requirements.yml

      - name: Test install role
        run: |
          cd roles/install
          molecule test

      - name: Test b216_backend role
        run: |
          cd roles/b216_backend
          molecule test

